<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588063790106-k4fkp98hsp06efsdb0234qh09ti4ma52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588063790106-k4fkp98hsp06efsdb0234qh09ti4ma52</string>
	<key>API_KEY</key>
	<string>AIzaSyCtEnxaBChx5MG6qhH22QflPYorEBchgHU</string>
	<key>GCM_SENDER_ID</key>
	<string>588063790106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pcfcorp.dspmobile</string>
	<key>PROJECT_ID</key>
	<string>dspmobile-1c3f0</string>
	<key>STORAGE_BUCKET</key>
	<string>dspmobile-1c3f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588063790106:ios:d99aaf6dcf2d90ead82da3</string>
</dict>
</plist>